:root {
    --azul-uepg: #314A73;
    --azul-hover: #f3faff;
    --cinza: #949494;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: var(--azul-hover);
}

h1 {
    margin: 40px 50px;
}

.container {
    width: 100%;
    min-height: 100vh;
}

.nav {
    display: flex;
    flex-direction: column;
    padding: 16px;
    background-color: white;
    box-shadow: 5px 0px 25px rgb(0, 0, 0, 0.1);
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 256px;
    height: 100vh;
}

.nav h2 {
    color: var(--cinza);
    place-items: center;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
    padding: 16px;
}

.nav h2:hover {
    color: var(--azul-uepg);
}

.nav .active {
    color: var(--azul-uepg);
    background-color: var(--azul-hover);
    border-radius: 16px;
}

.nav-mobile {
    display: none;
}

.banner {
    position: relative;
    height: 200px;
    overflow: hidden;
    background-color: var(--azul-uepg);
}

.banner h1 {
    position: absolute;
    margin: 0px;
    top: 40%;
    right: 0;
    color: white;
    font-size: 2rem;
    width: calc(100% - 256px);
    text-align: center;
}

.nav-content {
    margin-left: 256px;
    height: 100vh;
    background-color: var(--azul-hover);
}

.nav-content > div {
    display: none;
}

.nav-content > .active {
    display: block;
}

.nav-content h1 {
    font-size: 28px;
}

.pdf-carousel {
    text-align: center;
}

.pdf-carousel canvas {
    max-width: calc(100% - 100px);
    background: white;
    box-shadow: 0 6px 20px rgba(0,0,0,0.2);
    margin: 0px;
    padding: 0px;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 50px 0px;
}

.controls button {
    background: var(--azul-uepg);
    border: none;
    color: white;
    padding: 8px 14px 11px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}

.controls button:disabled {
    opacity: 0.4;
    cursor: not-allowed;
}

hr {
    border: none;
    height: 0.5px;
    background-color: #bebebe;
    width: calc(100% - 80px);
    margin-left: auto;
    margin-right: auto;
}

#soon {
    text-align: center;
    margin-top: 50px;
    font-size: 20px;
    opacity: 0.3;
}

@media screen and (max-width: 1225px) {

    h1 {
        margin: 25px 30px 25px;
    }

    .nav {
        display: none;
    }

    .nav-mobile {
        display: flex;
        flex-direction: row;
        position: fixed;
        z-index: 1;
        padding: 8px;
        background-color: white;
        box-shadow: 5px 0px 25px rgb(0, 0, 0, 0.1);
        width: auto;
        height: auto;
        overflow-x: auto;
    }

    .nav-mobile h2 {
        color: var(--cinza);
        text-align: center;
        font-size: 16px;
        text-transform: uppercase;
        cursor: pointer;
        padding: 8px;
        max-width: 200px;
        white-space: nowrap;
    }

    .nav-mobile h2:hover {
        color: var(--azul-uepg);
    }

    .nav-mobile .active {
        color: var(--azul-uepg);
        background-color: var(--azul-hover);
        border-radius: 16px;
    }

    .banner {
        top: 48px;
        height: 140px;
    }

    .bannerMobile {
        margin-bottom: 70px;
    }

    .banner h1 {
        width: 100%;
        font-size: 1.8rem;
        align-items: center;
    }

    .nav-content {
        margin: 0px;
    }

    .nav-content h1 {
        font-size: 1.5rem;
    }

    .pdf-carousel canvas {
        margin: 0px 20px;
        max-width: calc(100% - 60px);
    }

    .controls {
        padding: 25px;
    }

    hr {
        width: calc(100% - 60px);
    }
}

@media screen and (max-width: 580px) {
    .banner h1 {
        top: 25%;
    }
}